* {
    padding: 0;
    margin: 0;
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
            
}

#statusHud {
	width: 96%;
	position: absolute;
	bottom: 133%;
    left: 0.9%;
}

#varHealth {
	width: calc(100.5% - 227.52px - 227.52px);
	margin-left: 0px !important;
} 
#varArmor {
	width: calc(100.5% - 227.56px - 227.56px);
}
#varWeight {
	width: calc(100.5% - 227.56px - 227.56px);
}

#varHealth > .barIcon,
#varArmor > .barIcon,
#varWeight > .barIcon {
	width: 5%;
}

#varHealth > #boxSetHealth {
	background-image: linear-gradient(-90deg, rgba(75, 165, 75, 0.5), rgba(41, 89, 41, 0.25));
    box-shadow: 0px 0px 1px rgba(75, 165, 75, 0.5);
}
#varArmor > #boxSetArmour {
	background-image: linear-gradient(-90deg, rgba(103, 105, 212, 0.5), rgba(48, 49, 94, 0.25));
    box-shadow: 0px 0px 1px rgba(103, 105, 212, 0.5);
}
#varHunger > #boxSetHunger {
	background-image: linear-gradient(-180deg, rgba(245, 212, 66, 0.5), rgba(245, 212, 66, 0.25));
    box-shadow: 0px 0px 1px rgba(245, 212, 66, 0.5);
}
#varThirst > #boxSetThirst {
	background-image: linear-gradient(-180deg, rgba(89, 148, 215, 0.5), rgba(33, 56, 82, 0.25));
    box-shadow: 0px 0px 1px rgba(89, 148, 215, 0.5);
}
#varOxygen > #boxSetOxygen {
	background-image: linear-gradient(-180deg, rgba(120, 72, 184, 0.5), rgba(40, 24, 61, 0.25));
    box-shadow: 0px 0px 1px rgba(120, 72, 184, 0.5);
}
#varStress > #boxSetStress {
    background-image: linear-gradient(-180deg, rgba(192, 59, 59, 0.5), rgba(192, 59, 59, 0.25));
    box-shadow: 0px 0px 1px rgba(192, 59, 59, 0.5);
}
#varWeight > #boxSetWeight {
    background-image: linear-gradient(-90deg, rgba(59, 90, 192, 0.5), rgba(59, 90, 192, 0.25));
    box-shadow: 0px 0px 1px rgba(59, 90, 192, 0.5);
}

.bar {
	width: calc(50.5% - 116.8px - 116.8px);
	height: 25.5px;
	float: left;
	border: 1px solid rgba(255,255,255,0.1)!important; 
    /*background-color: rgba(235, 235, 235, 0.05);  0,02 */
    background-color: rgba(0,0,0,0.35);
	margin-right: 3px;
    margin-left: 3px;
    z-index: 130;
}
.bar:hover {
    background-color: rgba(0,0,0,0.7);
/*     transition: 0.4s; */
    opacity: 1;
}
/*colors*/
#boxSetHealth, #boxSetArmour, #boxSetHunger, #boxSetThirst, #boxSetOxygen, #boxSetStress, #boxSetWeight {
	width: 100%;
    height: 25.5px;
	position: relative;
	bottom: 0;
	z-index: 129;
}

/*icon*/
.barIcon {
	width: calc(50.5% - 116.8px - 116.8px);
	height: 15.5px;
	padding-top: 5px;
	position: absolute;
	z-index: 131;
    opacity: 0.8;
}

.ui {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 0;
    user-select: none; /* supported by Chrome and Opera */
  /*  -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;*/
}

.inventory {
    position: absolute;
    left: 20%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 580px;
    height: 400px;
}

#playerInventory {
    width: 570px;
    height: 420px;
    float: left;
    overflow-y: scroll;
}
#playerInventoryFastItems {
    width: 590px;
    height: 50px;
    position : fixed;
    bottom : 120%;
    left: 0%;
    z-index: 100;
    float:left;
}
#playerInventoryHotbar {
    width: 590px;
    height: 50px;
    position : fixed;
    bottom : 8%;
    left: 35%;
    z-index: 100;
    float:left;
}
#controls {
    width: 100px;
    height: 20px;
    float: left;
    position: absolute;
    left: 87%;
    bottom: -20%;
}

#otherInventory {
    width: 570px;
    height: 540px;
    float: left;
    overflow-y: scroll;
    position: absolute;
    top: 24%;
    left:65%;
}

#count {
    outline: none;
    font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.slot {
    float: left;
    width: 105px;
    height: 120px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    border-style: solid;
    background-color: rgba(235, 235, 235, 0.05); /* 0,02 */
    border-color: rgba(255,255,255,0.1);
    border-width: 1px 1px 1px 1px;
/*     transition: 0.2s; */
    box-shadow: 2px 2px 1px rgba(0,0,0,0.05);
}

.slot:hover {
    background: rgba(18, 18, 18, 0.05);
    border-color: rgba(255,255,255,0.5);
 /*   -moz-box-shadow:    inset 0 0 15px rgba(18, 18, 18, 0.05);
    -webkit-box-shadow: inset 0 0 15px rgba(18, 18, 18, 0.05);*/
    box-shadow:         inset 0 0 15px rgba(18, 18, 18, 0.05);
}
.slotFast {
    float: left;
    width: 105px;
    height: 120px;
    /*background-color: rgba(255, 153, 0, 0.6);
    margin: 2px;
    position: relative;*/
    background-color: rgba(235, 235, 235, 0.03); /* 0,02 */
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    border-style: solid;
    border-color: rgba(255,255,255,0.1);
    border-width: 1px 1px 1px 1px;
  /*   transition: 0.2s; */
}

.slotFast:hover {
    background: rgba(18, 18, 18, 0.05);
    border-color: rgba(255,255,255,0.5);
 /*   -moz-box-shadow:    inset 0 0 15px rgba(18, 18, 18, 0.05);
    -webkit-box-shadow: inset 0 0 15px rgba(18, 18, 18, 0.05);*/
    box-shadow:         inset 0 0 15px rgba(18, 18, 18, 0.05);
}

.item,

.item-other {
    width: 100px;
    height: 100px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.item:hover{
    background-size: 80%;
}

.item2{
    width: 100px;
    height: 100px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}


.item-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 105px;
    min-height: 14px;
    font-size: 10px;
    background-color: rgba(0,0,0,0.35);
}

.ui-draggable-dragging .item-name,
.ui-draggable-dragging .item-count {
    display: none;
}
.item-count {
    position: absolute;
    top: 0;
    text-align: right;
    width: 100px;
    height: 20px;
    z-index: 500;
    font-size: 14px;
}

.keybind {
    position: absolute;
    top: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    width: 20px;
    height: 20px;
    z-index: 500;
    background: rgba(18, 18, 18, 0.8);
 /*   -moz-box-shadow:    inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;*/
    box-shadow:         inset 0 0 15px #000000;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

.ammoIcon {
    width: 8px;
    height: 8px;
}

.info-div {
    width: 100%;
    height: 10%;
    position: relative;
    left: 200%;
    top: -147%;
 /*    transition: 0.2s; */
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
    float: left;

}
.weight-div {
    width: 120%;
    height: 70%;
    position: absolute;
    left: -130%;
    top: -240%;
/*     transition: 0.2s; */
    text-align: right;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
    float: left;
}
.controls-div {
    position: absolute;
    transform: translate(-50%, -50%);
    float: left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 80px;
}

#notificacao {
    position: absolute;
    top: 70%;
    left:48.5%;
}

.control {
    width: 122px;
    height: 35px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: center;
    font-size: 15px;
    line-height: 36px;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(18, 18, 18, 0.2);
  /*   transition: 0.2s; */
}

.control:hover {
    background: rgba(18, 18, 18, 0.05);
    border-color: rgba(255,255,255,0.5);
  /*  -moz-box-shadow:    inset 0 0 15px rgba(18, 18, 18, 0.05);
    -webkit-box-shadow: inset 0 0 15px rgba(18, 18, 18, 0.05);*/
    box-shadow:         inset 0 0 15px rgba(18, 18, 18, 0.05);
}

.control.disabled {
    border-color: rgba(255,255,255,0.1);
    border-width: 1px 1px 1px 1px;
/*     transition: 0.2s; */
}

.item-name-bg {
    width: 100%;
    width: 100px;
    height: 16px;
    position: absolute;
    bottom: 0;
}

#playerInventory::-webkit-scrollbar-track,
#otherInventory::-webkit-scrollbar-track {
    background-color: none;
    border: none;
}

#playerInventory::-webkit-scrollbar,
#otherInventory::-webkit-scrollbar {
    width: 5px;
    background-color:   rgba(255,255,255,0.5);
  /*  -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;*/
    box-shadow:         inset 0 0 10px #000000;
}
#playerInventory::-webkit-scrollbar-thumb,
#otherInventory::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.1);
}

.nearbyPlayerButton {
    width: 100%;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    padding: 2px;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(63, 57, 83, 0.226);
    text-shadow: none; 
    font-size: 14px !important;
    outline: none;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    border: none;
}
.nearbyPlayerButton:hover {
    background: rgba(18, 18, 18, 0.05);
    border-color: rgba(255,255,255,0.5);
 /*   -moz-box-shadow:    inset 0 0 15px rgba(18, 18, 18, 0.05);
    -webkit-box-shadow: inset 0 0 15px rgba(18, 18, 18, 0.05);*/
    box-shadow:         inset 0 0 15px rgba(18, 18, 18, 0.05);
}

#noSecondInventoryMessage {
    width: 615px;
    height: 580px;
    line-height: 580px;
    text-align: center;
}

@media (max-width: 400px) {
    .inventory {
        width: 200px;
    }

    #playerInventory {
        width: 150px;
    }

    #controls {
        width: 100px;
    }

    #otherInventory {
        width: 150px;
    }

    #noSecondInventoryMessage {
        width: 100px;
    }
}

